// .imageContainer{
//     height: 60px;
//     width: 60px;
//     border-radius: 50%;
//     border: 1px solid #e9e9e9;
// }
.box{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px!important;
}
.moreicon{
    margin-top: 17px;
    margin-left: 16px;
}
.ExploreNow{
    font-size: 17px;
    font-weight: bold;
    border-radius: 44px;
    color: White;
    height: 60px;
    width: 60px;
    min-width: none;
    min-width: 50 !important;
    background-color: #1BB782;
    border: 1px solid #e9e9e9;
    box-shadow: none !important;
    padding: 0;
    
}
.calender{
    height: 10em;
    width: 100%;
}
.demo-inline-calendar-card {
    width: 330px;
  }
  .BookingNow{
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    padding: 0;
    height: 34px;
    width: 84px;
    background-color: #1BB782;
    box-shadow: none !important;
}
::ng-deep.mat-calendar-body-selected {
    background-color: #1BB782;
}
@media (hover: hover){
    ::ng-deep.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        background-color: white;
    }
}
.inputField{
    width: 17em;
    height: 38px;
    outline: none;
    border: 1px solid #FF8200;
    background-color: transparent;
    padding-left: 10px;
}
.packageSelect{
    border: 1px solid #FF8200 !important;    
    width: 17em;
    height: 38px;
}
.packageSelect{
    ::ng-deep.mat-select-value {
        margin-top: 18px;
        margin-left: 10px;
    }
    ::ng-deep.mat-select-arrow-wrapper{
        margin-top: 18px;
    }
}
.boxContainer{
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
    padding: 0px 10px 0px 10px;
}