<!-- AutoComplete -->
<ng-template #res>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div (click)="closeSheet()">
    Close
  </div>
</ng-template>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<button mat-raised-button (click)="openBottomSheet()">Open file</button>

<div>
  <mat-radio-group (change)="radio($event)">
    <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
    <!-- <mat-radio-button class="example-margin" value="before">Before</mat-radio-button> -->
  </mat-radio-group>
</div>
<div>
  <mat-checkbox class="example-margin" (change)="checkbox($event)" [(ngModel)]="radiobutton">Checked</mat-checkbox>
</div>
<div>
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>
</div>

<mat-form-field class="demo-chip-list">
	<mat-chip-list #chipList>
		<mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
			(removed)="remove(fruit)">
			{{fruit.name}}
			<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
		</mat-chip>
		<input placeholder="New fruit..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)" />
  </mat-chip-list>
		<mat-error *ngIf="chipList.errorState">Too many chips</mat-error>
		<mat-hint>Can only contain 3 chips max</mat-hint>
</mat-form-field>