<!-- <ng-content></ng-content> -->
<div class="outerBox mb-3">
    <div class="text-end">
        <button mat-raised-button class="ExploreNow">Explore</button>
    </div>
    <div class="firstLayer">
        <div class="d-flex gap-5">
            <img src="assets/Images/Place Image/shan-elahi-DDiLYt_F88w-unsplash.jpg" class="image" style="width:11em; height:7em">
            <div class="mt-2">
                <div class="fs-6">120 Tourist Spots</div>
                <div class="fs-5 fw-bold">Labuna Bajo</div>
                <div>
                    <div class="rate-container">$ 200 - $ 2,500<span class="per-ceontainer ms-2">/Pax</span></div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- <ng-content select=[data]></ng-content> -->